
.container-home{
  margin-top: 80px;
  text-decoration-color: black;
}

.search-bar{
  margin-left: 80px;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
.search-bar input{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #f0f1f6;
  flex: 1;
  border: 0;
  outline: none;
  margin-left: 125px;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f0f1f6;
  cursor: pointer;

}

::placeholder{

}


.search-img{
  width: 40px;
  height: 24px;
}



.img-hover-zoom {
  background-image: url("../../assets/globe.png");
  margin-top: 200px;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
}

/* Set the grid container properties */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* align the grid horizontally at the center */
  align-items: start; /* align the grid vertically at the top */
  margin: auto;
  width: 150px;
}

/* Set the properties of the grid items */
.grid-item {
  color: lightgray;
  padding: 10px;
  text-align: center;
}

.grid-header{
  color: lightgray;
  padding: 10px;
  text-align: center;
}

.card{
  transition: transform 0.8s;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
}

.card:hover{
  transform: scale(1.15);
}

.thunder {
  background-image: url("../../assets/thunder.png");
  background-repeat: no-repeat;
}

.cloudy {
  background-image: url("../../assets/cloudy.png") ;
  background-repeat: no-repeat;
}

.sunny {
  background-image: url("../../assets/sunny.png") ;
  background-repeat: no-repeat;
}
.padding-#{s}
{
  padding: #{s};
}
