<div id="new-page"></div>
  <div class="img-hover-zoom ">

  </div>


<div id="wrapper">
  <div class="row card-container hidden">
    <div class="card thunder">
      <div class="card-body">
        <div class="container">
          <h4><b>Thunder</b></h4>
          <p>Delhi</p>
          <p>24/03/2023</p>
        </div>
      </div>

    </div>


    <div class="card cloudy hidden">
      <div class="card-body">
        <div class="container">
          <h4><b>Cloudy</b></h4>
          <p>Chennai</p>
          <p>24/03/2023</p>
        </div>
      </div>
    </div>


    <div class="card sunny">
      <div class="card-body">
        <div class="container">
          <h4><b>Sunny</b></h4>
          <p>Jaipur</p>
          <p>24/03/2023</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-home">
  <form action="https://" class="search-bar">
    <input name="q" placeholder="search anything" type="text">
    <img class="search-img" src="../../assets/search_icon.png">
    <button type="submit">
    </button>
  </form>
</div>



