<div id="news-page"></div>
<div id="wrapper">
  <div class="home-city">news</div>
  <div class="row card-container">
    <div class="card thunder hidden">
      <div class="card-body">
        <div class="container">
          <h5><b>Thunder Strike</b></h5>
          <h2>Delhi</h2>
        </div>
      </div>
    </div>

    <div class="card cloudy hidden">
      <div class="card-body">
        <div class="container">
          <h5><b>Cloudstroms in </b></h5>
          <h2>Manipur</h2>
        </div>
      </div>
    </div>

    <div class="card sunny hidden">
      <div class="card-body">
        <div class="container">
          <h5><b>It's summer season in</b></h5>
          <h2>Mumbai</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="home-end1">

  WEATHERAPP
  <table class="home-table3">
    <tr>
      <td>HOME</td>
      <td>Contact Us</td>
    </tr>
    <tr>
      <td>cities</td>
      <td>FAQs</td>
    </tr>
    <tr>
      <td>News</td>

    </tr>
  </table>
</div>
