#wrapper {
  margin-bottom:20px ;
  margin-top: 60px;
  background: #f1eded;
  height: 100vh;
}

#video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#video-wrapper video {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.home-end1{
  font-weight: bold;
  width: 800px;
  color: #1d2752;
  margin-righ: 800px;
}

.home-table3{
  padding-right: 1px;
  margin-left: 600px;
}


.home-city{
  text-align: center;
  font-size:xxx-large;
  color: #141c49;
  font-weight: bold;
  margin-bottom:26px;
}


.card-container{
  width:50rem;
  margin:auto;
}


.thunder {
  background-image: url("../../assets/thunder.png") ;
}

.cloudy {
  background-image: url("../../assets/cloudy.png") ;
}

.sunny {
  background-image: url("../../assets/sunny.png") ;
}



.card{

  font-size: small;
  padding: 9px;
  transition: transform .8s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 3px;
}
.h5{
  font-size: 20px;
}
.card:hover{
  transform: scale(1.15);
}


/* Set the grid container properties */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* align the grid horizontally at the center */
  align-items: start; /* align the grid vertically at the top */
  margin: auto;
  width: 150px;
}

/* Set the properties of the grid items */
.grid-item {
  color: lightgray;
  padding: 10px;
  text-align: center;
}
