@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
.end-home{
  background-color: black;
}


.home-end{
  margin-left: 809px;
  color: aliceblue;
}


.container {
  width: 308px;
  height: 143px;
  margin: 143px auto;
  padding: 2px 16px;
}

.search-bar{
  margin-left: 80px;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
.search-bar input{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #f0f1f6;
  flex: 1;
  border: 0;
  outline: none;
  margin-left: 125px;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f0f1f6;
  cursor: pointer;

}
::placeholder{

}
.search-img{
  //size:40px;
  width: 40px;
  height: 24px;
}

.home-globe{
  padding: 50px;
  transition: transform .8s; /* Animation */
  width: 0px;
  height: 200px;
  margin: 0 auto;
}
.home-globe:hover{transform: scale(1.5); /*
(150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}










* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
body {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
#wrapper {
  background: #f1eded;
  height: 100vh;
}
#video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
//save kr
#video-wrapper video {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.home-table{

  margin-left: 30px;
}
#draggable {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background: linear-gradient(102.71deg, rgba(243, 236, 236, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(246, 237, 237, 0.96));
  backdrop-filter: blur(28px);
  border-radius: 32px;
  opacity: .9;
}
//.column{
//  padding-top: 50px;
//  margin-left: 30px;
//  margin-right: 30px;
//}
.text {
  position: absolute;
  top: 5%;
  left: 5%;
  margin-top: 100px;
  text-shadow: 1px 1px 1px #e5dcdc;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
h1, p {
  font-weight: 300;
  color: #fff;
}

body {
  background-image: url("../../assets/home_page1.png");
  height: 450px;
  width: 800px;
  background-size: 100%;
  background-repeat: no-repeat;

}
.tr{
  color: antiquewhite;
  font-size: large;
  font-family: Calibri;
  margin-left: 20px;
  margin-right: 20px;
}

/* Set the grid container properties */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* align the grid horizontally at the center */
  align-items: start; /* align the grid vertically at the top */
  margin: auto;
  width: 150px;
}

/* Set the properties of the grid items */
.grid-item {
  color: lightgray;
  padding: 10px;
  text-align: center;
}


.card-container{
  width:70rem;
  margin:auto;
}

.card{
  padding: 50px;
  transition: transform .8s; /* Animation */
  width: 200px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 3px;
}

.card:hover{
  transform: scale(1.5);
}

.thunder {
  background-image: url("../../assets/thunder.png") ;
}

.cloudy {
  background-image: url("../../assets/cloudy.png") ;
}

.sunny {
  background-image: url("../../assets/sunny.png") ;
}
