<html xmlns="http://www.w3.org/1999/html">
<head>
  <link href="home.component.scss" rel="stylesheet" type="text/css"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="grid-container">
  <div class="grid-item">Home</div>
  <div class="grid-item">Cities</div>
  <div class="grid-item">News</div>
</div>
<div style="text-align:center;padding:15px;margin-top:15px;font-size:25px; height: 400px">

</div>

<div id="wrapper">
  <div class="home-city">cities</div>
  <div class="row card-container">
    <div class="card thunder">
      <div class="card-body">
        <div class="container">
          <h4><b>Thunder</b></h4>
          <p>Delhi</p>
          <p>24/03/2023</p>
        </div>
      </div>

    </div>


    <div class="card cloudy">
      <div class="card-body">
        <div class="container">
          <h4><b>Cloudy</b></h4>
          <p>Chennai</p>
          <p>24/03/2023</p>
        </div>
      </div>
    </div>


    <div class="card sunny">
      <div class="card-body">
        <div class="container">
          <h4><b>Sunny</b></h4>
          <p>Jaipur</p>
          <p>24/03/2023</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="video-wrapper"></div>
  <div draggable="true" id="draggable">
    <table class="home-table">
      <h3>Weather Details</h3>
      <tr>
        <td>cloudy</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td>62%</td>
      </tr>
      <tr>
        <td>Wind</td>
        <td>8 km/h</td>
      </tr>
    </table>
  </div>
</div>

<div class="text">
  <p></p>
  <h1>Mumbai 32</h1>
  <p>06:45 Thursday 09/03/23</p>
</div>


<div class="container-home">
  <form action="https://" class="search-bar">
    <input name="q" placeholder="search anything" type="text">
    <button type="submit"><img class="search-img" src="../../assets/m7.png"></button>
  </form>
</div>


<div>
  <div class="img-hover-zoom"> <img src="../../assets/m5.png" alt="This zooms-in really well and smooth"> </div>
</div>









<div id="wrapper">
  <div class="home-city">news</div>
  <div class="row card-container">
    <div class="card thunder">
      <div class="card-body">
        <div class="container">
          <h5><b>Thunder Strike</b></h5>
          <h2>Delhi</h2>
        </div>
      </div>

    </div>


    <div class="card cloudy">
      <div class="card-body">
        <div class="container">
          <h5><b>Cloudstroms in </b></h5>
          <h2>Manipur</h2>
        </div>
      </div>
    </div>


    <div class="card sunny">
      <div class="card-body">
        <div class="container">
          <h5><b>It's summer season in</b></h5>
          <h2>Mumbai</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="home-end1">

    WEATHERAPP
  <table class="home-table3">
    <tr>
      <td>HOME</td>
      <td>Contact Us</td>
    </tr>
    <tr>
      <td>cities</td>
      <td>FAQs</td>
    </tr>
    <tr>
      <td>News</td>

    </tr>
  </table>












</div>















</body>
</html>
